* {
  box-sizing: border-box;
}

html {
  font-family: "Zen Kaku Gothic New", sans-serif;
  // font-family: "Helvetica", "Arial", "Hiragino Kaku Gothic ProN", "Hiragino Sans", YuGothic, "Yu Gothic", "メイリオ", Meiryo, sans-serif;
  scroll-behavior: smooth;
  // overflow:hidden;
}

.top {
  /* display: flex; */
  /* margin: 0 40px 0 40px; */
  /* height: 55px; */
  position: fixed;
  top: 0;
  width: 100%;
  height: 10%;
  left: 0%;
  display: fixed;
  background-color: white;

  /* border: 4px solid red; */
  flex-direction: row;
  z-index: 1;
}

.hedderlogo {
  /* background-color: white; */
  position: fixed;
  top: 0.5rem;
  left: 8%;

  & img {
    width: 250px;
  }

}

.clicklogo {
  // visibility: hidden;
  position: absolute;
  top: 10px;
  left: 200px;
  -webkit-animation:blink 1.5s ease-in-out infinite alternate;
  -moz-animation:blink 1.5s ease-in-out infinite alternate;
  animation:blink 1.5s ease-in-out infinite alternate;
  & img {
    width: 100px;
    position: absolute;
    top: 30px;
  }
}



@-webkit-keyframes blink{
0% {opacity:0;}
100% {opacity:1;}
}
@-moz-keyframes blink{
0% {opacity:0;}
100% {opacity:1;}
}
@keyframes blink{
0% {opacity:0;}
100% {opacity:1;}
}


nav {
  position: fixed;
  top: 0;
  right: 8%;
  width: 50%;
  height: 55px;
  margin: 0;
  padding: 25px 0px 25px 0;
  /* border: 4px solid red; */
  /* background-color: white; */
}

#about, #course, #news, #access, #contact {
  padding-top: 40px;
  margin-top: -40px;
}

.nav-items {
  /* margin: 25px 50px 25px 0; */
  display: flex;
  flex-direction: reverse;
  justify-content: flex-end;

  /* border: 4px solid red; */

  li > a {
    text-decoration: none;
    color: #222222;
    &:hover{
      text-decoration:underline;
    }
  }
}

li {
  padding: 0 3%;

  /* text-decoration: none; */
  /* border: 4px solid red; */
}

body {
  font-size: 16px;
  text-align: center;
}

#hero {
  /* border: 4px solid red; */
  background-color: pink;
  background-image: url(img/mainbg.png);
  height: 400px;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: white;
  padding-top: 150px;
  // padding-top: 10rem;
  margin: 85px 8% 0 8%;
  min-width: 375px;
}

.subtitle {
  /* border: 4px solid red; */
  color: white;
  font-size: 24px;
  text-align: center;
  padding: 30px 0;
  min-width: 375px;
  font-weight: lighter;
}

h2.section-title-en {
  /* border: 4px solid red; */
  color: gold;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  padding: 60px 0 30px;
  margin: 0 8%;
  min-width: 375px;
}

#course h2, #access h2, #contact h2 {
  color: #222222;
}

h3 {
  &.title {
    /* border: 4px solid red; */
    color: gold;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    padding: 60px 0 30px;
  }

  &.section-title-jp {
    /* border: 4px solid red; */
    /* font-weight: bold; */
    font-size: 18px;
    text-align: center;
    margin: 0 8%;
    min-width: 375px;
    padding: 0 8% 60px;
  }
}

.info {
  /* border: 4px solid red; */
  padding: 0 8% 40px;
  margin: 0 8% 0;
  min-width: 375px;
  line-height: 32px;
}

.imgs {
  background-color: white;
  margin: 0 auto;

  /* border: 4px solid red; */
  min-width: 375px;
}

.imgs4-container {
  /* border: 4px solid red; */
  display: flex;
  justify-content: center;

  /* justify-content: center; */
  flex-wrap: nowrap;
  gap: 0;
}

.imgs-slider{
  margin: 80px;
  
}

.imgs-slider li {
  margin: 0;
  padding: 0;
  width: 250px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.imgs4 {
  margin: 0;
  padding: 0;
  width: 250px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#img4-img1 {
  background-image: url(img/about_04.jpg);
  width: 250px;
}


#img4-img2 {
  background-image: url(img/about_03.jpg);
  width: 300px;
}

#img4-img3 {
  background-image: url(img/about_02.jpg);
  width: 300px;
}

#img4-img4 {
  background-image: url(img/about_01.jpg);
  width: 250px;
}
 
.course-content-box {
  display: flex;
  margin: 0 8%;

  /* border: 4px solid red; */
  height: 400px;
  width: 84%;
}

.course-content-img-box {
  width: 50%;
  height: 400px;

  /* background-size: cover; */
  background-repeat: no-repeat;
  background-position: center center;

  /* border: 4px solid red; */
  /* object-fit: cover; */
}

.course-content-text-box {
  width: 50%;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  /* border: 4px solid red; */
  padding: 120px 0 120px 0;
  padding-top: 120px;
  padding-left: 50px;
  padding-right: 100px;
  text-align: justify;
  line-height: 24px;
}

.course-content-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.course-content-title {
  padding-bottom: 40px;
  font-size: 18px;
  font-weight: bold;
}

.news-container {
  display: flex;
  gap: 30px;
  margin: 0 auto 60px;
  width: 100%;

  /* border: 4px solid red; */
  justify-content: center;
}

.news-container-img img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.news-container-box {
  width: 350px;
}

.news-container-date {
  padding: 30px 0 24px;
  text-align: left;
}

.news-container-info {
  line-height: 24px;
  text-align: justify;
}

.access {
  /* border: 4px solid red; */
  width: 84%;
  max-width: 1200px;

  /* コンテンツの最大幅を設定 */
  margin: 60px auto;

  /* セクション全体を中央寄せ */
  padding: 0 20px;

  /* 必要に応じて左右のパディングを追加 */
  box-sizing: border-box;

  /* パディングを幅に含める */
  background-color: #fafafa;
}

.access-map-container {
  position: relative;
  width: 100%;
    /* 高さを幅の25%に設定（アスペクト比 4:1） */
  padding-bottom: 25%;
  overflow: hidden;
}

.access-map-iframe {
  /* border: 4px solid red; */
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 84%;
}

#access table {
  margin: 0 auto;
  margin-top: 60px;

  /* display: flex;
  justify-content: center; */
}

.company-info {
  /* border: 4px solid red; */
  width: 100%;
  max-width: 600px;

  /* display: flex; */
  text-align: left;

  th, td {
    padding: 15px 0;
  }

  th {
    width: 40%;
  }

  td {
    width: 60%;
  }
}

.contact {
  margin: 60px 8% 140px;
}

form {
  margin: 0 auto;
  padding: 0 0 0 0;

  /* border: 4px solid red; */
  max-width: 800px;
  min-width: 375px;
  border-top: 1px solid #bfbfbf;

  /* border-bottom: 1px solid #bfbfbf; */

  > button {
    margin-top: 30px;
    margin-bottom: 140px;
  }

  .form-group {
    display: flex;
  }
}

input {
  &#name, &#kana, &#email {
    margin: 8px 36px 8px 8px;
    line-height: 24px;
  }
}

select {
  margin: 8px 36px 8px 8px;
  height: 32px;
}

.form-group textarea {
  margin: 8px 36px 8px 8px;
  width: 60%;
  text-align: left;
  line-height: 50px;
}

div.form-group {
  border-bottom: 1px solid #bfbfbf;

  /* border-right: none; */
}

.form-group label {
  width: 40%;
  text-align: left;
  padding-top: 10px;
  padding-right: 40px;
  padding-left: 16px;
  line-height: 24px;
  vertical-align: middle;
  border-right: 1px solid #bfbfbf;
}

form .form-group:nth-of-type(4) label {
  text-align: left;
  padding-top: 0;
}

form .form-group:nth-of-type(5) label {
  text-align: left;
  padding-top: 0;
}

.form-group {
  input {
    &[type="text"], &[type="email"] {
      width: 60%;

      /* text-align: left; */
    }
    &[required]:hover {
      background-color: #fcc9ac;
    }
  }

  select {
    width: 60%;
    &[required]:hover {
      background-color: #fcc9ac;
    }
    /* text-align: left; */
  }
}

.checkbox-group {
  width: 60%;
  display: block;
  line-height: 24px;
  margin: 8px 36px 8px 8px;
  border: none;

  label {
    display: block;
    width: 100%;
    text-align: left;
    line-height: 24px;
    border-right: none;
  }
}

.btn {
  color: white;
  background-color: #ffd61a;
  border: none;
  width: 300px;
  height: 60px;
  font-size: 18px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  box-shadow: 0 3px rgb(183, 183, 57);
  position: relative;
  top: -2px;
  padding: 10px 20px;

  &:hover {
    box-shadow: 0 1px rgb(183, 183, 57);
    top: 1px;
  }
}

footer {
  padding: 30px auto;
  height: 75px;
  width: auto;
  background-color: #fafafa;

  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
}

 
.anim-box.poyoyon3.is-animated {
  animation: poyoyon3 2.5s infinite;
  opacity: 1;
}
@keyframes poyoyon3 {
  0%, 40% {
    transform: skew(0deg, 0deg);
  }
  5% {
    transform: skew(5deg, 5deg);
  }
  10% {
    transform: skew(-4deg, -4deg);
  }
  15% {
    transform: skew(3deg, 3deg);
  }
  20% {
    transform: skew(-2deg, -2deg);
  }
  25% {
    transform: skew(1deg, 1deg);
  }
  30% {
    transform: skew(-0.6deg, -0.6deg);
  }
  35% {
    transform: skew(0.3deg, 0.3deg);
  }
}